{% extends 'core/base.html'%}

{% load static %}
<title>{% block title %}Registro{% endblock %}</title>

{% block content %}
<form action="" method="POST" class="form-register">
    {% csrf_token %}
    <h4>Formulario Registro</h4>
    {{form}}
    <div class="col-11">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
          <label class="form-check-label" for="invalidCheck2">
            Acepto los terminos y condiciones
          </label>
        </div>
      </div>
    <input type="submit" class="botons" id="button" value="Registrarse">
    <a href="{% url 'login'%}" class="boton_regi" >¡¡Ya Tengo Cuenta!!</a>
</form>

<script>
    const checkbox = document.getElementById("invalidCheck2");
    const submitButton = document.getElementById("button");
    
    checkbox.addEventListener("change", function() {
      if (this.checked) {
        submitButton.style.opacity = "1";
        submitButton.disabled = false;
      } else {
        submitButton.style.opacity = "0.5";
        submitButton.disabled = true;
      }
    });
    </script>
{% endblock %}